@model IList<Person>
@{
    ViewBag.Title = "People";
}

<h1>@ViewBag.Title</h1>
<a asp-action="Create" class="btn btn-primary">Add Person</a>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <partial name="PersonRowPartial" model="person" />
        }
    </tbody>
</table>

@section Modal
{
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete <span id="Person" ></span>?</p>
                </div>
                <div class="modal-footer">
                    <form method="post" asp-action="Delete">
                        <input type="hidden" name="Id"/>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-danger">Yes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script>
        $(function(){
            $("[data-type='deleteButton']").on("click", function() {
               let id = $(this).data("id");
               let input = $("#deleteModal input[name='Id']");
               $(input).val(id);

               let name = $(this).data("name");
               let span = $(".modal-body span[id='Person']");
               $(span).html(name);

            });
        });
    </script>
}