@model IList<BlogPost>


<a asp-action="Create">Add BlogPost</a>
<div class="container mt-4">
    <div class="row">
        @foreach (var blogPost in Model)
        {
            <partial name="BlogPostCardPartial" model="blogPost" />
        }
    </div>
</div>