@model IList<ArticleResult>


<a asp-action="Create" class="btn btn-primary">Add BlogPost</a>
<div class="container mt-4">
    <div class="row">
        @foreach (var blogPost in Model)
        {
            <partial name="BlogPostCardPartial" model="blogPost" />
        }
    </div>
</div>

@section Modal
{
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete the <span id="blogTitle"></span> blogpost?
                </div>
                <div class="modal-footer">
                    <form method="post" asp-action="Delete">
                        <input type="hidden" name="Id" />
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-danger">Yes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script>
        $(function(){
            $("[data-type='deleteButton']").on("click", function() {
               let id = $(this).data("id");
               let input = $("#deleteModal input[name='Id']");
               $(input).val(id);

               let title = $(this).data("title");
               $("#blogTitle").html(title);
               
            });
        });
    </script>
}