
@{
}
@model BlogPost


<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        @if (!String.IsNullOrWhiteSpace(@Model.Author)) 
        {
            <h6 class="card-subtitle mb-2 text-muted">@Model.Author</h6>
        }        
        <p class="card-text">@Model.Content</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
